<!-- 1. Write a Pandas program to create
a) Datetime object for Jan 15 2012.
b) Specific date and time of 9:20 pm.
c) Local date and time.
d) A date without time.
e) Current date.
f) Time from a datetime.
g) Current local time.
 -->

### 1. Write a Pandas program to create

a) Datetime object for Jan 15 2012.

b) Specific date and time of 9:20 pm.

c) Local date and time.

d) A date without time.

e) Current date.

f) Time from a datetime.

g) Current local time.

In [18]:
import pandas as pd
from datetime import datetime
from datetime import date
from datetime import time

In [40]:
# Datetime object for Jan 15, 2012
d = datetime(2012, 1, 15)
print(d)

2012-01-15 00:00:00

In [39]:
# Specific date and time of 9:20 pm.
sd = datetime(2012, 1, 15, 9, 20, 0)
print(sd)

2012-01-15 09:20:00

In [21]:
# Local date and time.
dt = datetime.now()
print("Current Local date and time now: ", dt)

Current Local date and time now:  2024-10-21 14:50:37.633393

In [38]:
# A date without time.
dwt = date(2024, 10, 21)
print("A date without time: ", dwt)

A date without time:  2024-10-21

In [41]:
# Current date
dt = datetime.now()

# Extract date from datetime object
current_date = dt.date()

print("Current date: ", current_date)

Current date:  2024-10-21

In [44]:
# Time from a datetime.
extracted_time = sd.time()
print("Extracted time: ", extracted_time)

Extracted time:  09:20:00

In [45]:
# Current local time.
dt = datetime.now()
current_local_time = dt.time()
print("Current local time:", current_local_time)

Current local time: 15:00:10.549634

In [55]:
print(f"Extracted from datetime--> Day: {dt.day}, Month: {dt.month}, Year: {dt.year}")

Extracted from datetime--> Day: 21, Month: 10, Year: 2024

In [60]:
print(f"Extracted from datetime--> Hour: {dt.hour}, Minute: {dt.minute}, Second: {dt.second}, Microsecond: {dt.microsecond}")

Extracted from datetime--> Hour: 15, Minute: 0, Second: 10, Microsecond: 549634

### 2. Write a Pandas program to create
`a) a specific date using timestamp.`

`b) date and time using timestamp.`

`c) a time adds in the current local date using timestamp.`

`d) current date and time using timestamp.`

In [64]:
from datetime import datetime

In [81]:
# a) a specific date using timestamp.
# b) date and time using timestamp.


# Seconds elapsed since unix epoch
timestamp = 8

dt = datetime.fromtimestamp(timestamp)

# a
print("Date converted from timestamp:", dt.date())
print("Time in IST converted from timestamp:", dt.time())

# b
print("Date and Time converted from timestamp:", dt)

Date converted from timestamp: 1970-01-01
Time in IST converted from timestamp: 05:30:08
Date and Time converted from timestamp: 1970-01-01 05:30:08

In [89]:
# c) a time adds in the current local date using timestamp.

timestamp = 300
current_timestamp = datetime.now().timestamp()

print("Current local date-time:", datetime.fromtimestamp(current_timestamp))
print(f"\nCurrent local time + {timestamp} seconds:", datetime.fromtimestamp(current_timestamp + timestamp).time())

Current local date-time: 2024-10-21 15:20:39.449664

Current local time + 300 seconds: 15:25:39.449664

In [91]:
# d) current date and time using timestamp.

current_timestamp = datetime.now().timestamp()
print("Current local date-time:", datetime.fromtimestamp(current_timestamp))

Current local date-time: 2024-10-21 15:23:28.485579

### 3. Write a Pandas program to create a date from a given year, month, day and another date from a given string formats.

In [124]:
y = 2024
m = 10
d = 21
date_time_string = "24 October 2024 12:45:00"

dt = pd.Timestamp(day=d, month=m, year=y)
print("Date from given data: ", dt)
print(dt.date())

date = pd.to_datetime(date_time_string)
print("Time from string:", date)

Date from given data:  2024-10-21 00:00:00
2024-10-21
Time from string: 2024-10-24 12:45:00

4.Write a Pandas program to print the day after and before a specified date. Also
print the days between two given dates.

In [137]:
date1=pd.to_datetime("2024-10-24").date()
date2=pd.to_datetime("2024-10-29").date()
print(date2-date1)

a=date1+pd.Timedelta(days=1)
print(a)

5 days, 0:00:00
2024-10-25

### 5.Write a Pandas program to create a time-series with two index labels and random values. Also print the type of the index.

In [157]:
# 'M': Month-end frequency.
# 'W': Week frequency (default is Sunday).
# 'H': Hourly frequency.
# 'T' or 'min': Minute frequency.
# 'S': Second frequency.
import numpy as np


d1=pd.date_range(start="2024-01-01",periods=5,freq="M")
d2=np.random.randint(1,10,5)
time_series=pd.Series(d2,index=d1)
time_series.index

DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30',
               '2024-05-31'],
              dtype='datetime64[ns]', freq='M')

### 6. Write a Pandas program to create a time-series from a given list of dates as strings.

In [158]:
p={"li":["2024-05-2022","2024-06-2023","2024-07-2024"],
"value":[1,2,3]}
df=pd.DataFrame(p)
df.set_index("li")

              value
li
2024-05-2022      1
2024-06-2023      2
2024-07-2024      3

### 7. Write a Pandas program to create a time series object that has time indexed data. Also select the dates of same year and select the dates between certain dates.

In [159]:
d1=pd.date_range(start="2024-01-01",periods=5,freq="M")
d2=np.random.randint(1,10,5)
time_series=pd.Series(d2,index=d1)
time_series.index

DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30',
               '2024-05-31'],
              dtype='datetime64[ns]', freq='M')

In [162]:
#8. Write a Pandas program to create a date range using a startpoint date and a
# number of periods.

d1=pd.date_range(start="2024-10-01",periods=90)
d1

DatetimeIndex(['2024-10-01', '2024-10-02', '2024-10-03', '2024-10-04',
               '2024-10-05', '2024-10-06', '2024-10-07', '2024-10-08',
               '2024-10-09', '2024-10-10', '2024-10-11', '2024-10-12',
               '2024-10-13', '2024-10-14', '2024-10-15', '2024-10-16',
               '2024-10-17', '2024-10-18', '2024-10-19', '2024-10-20',
               '2024-10-21', '2024-10-22', '2024-10-23', '2024-10-24',
               '2024-10-25', '2024-10-26', '2024-10-27', '2024-10-28',
               '2024-10-29', '2024-10-30', '2024-10-31', '2024-11-01',
               '2024-11-02', '2024-11-03', '2024-11-04', '2024-11-05',
               '2024-11-06', '2024-11-07', '2024-11-08', '2024-11-09',
               '2024-11-10', '2024-11-11', '2024-11-12', '2024-11-13',
               '2024-11-14', '2024-11-15', '2024-11-16', '2024-11-17',
               '2024-11-18', '2024-11-19', '2024-11-20', '2024-11-21',
               '2024-11-22', '2024-11-23', '2024-11-24', '2024-11-25',
               '2024-11-26', '2024-11-27', '2024-11-28', '2024-11-29',
               '2024-11-30', '2024-12-01', '2024-12-02', '2024-12-03',
               '2024-12-04', '2024-12-05', '2024-12-06', '2024-12-07',
               '2024-12-08', '2024-12-09', '2024-12-10', '2024-12-11',
               '2024-12-12', '2024-12-13', '2024-12-14', '2024-12-15',
               '2024-12-16', '2024-12-17', '2024-12-18', '2024-12-19',
               '2024-12-20', '2024-12-21', '2024-12-22', '2024-12-23',
               '2024-12-24', '2024-12-25', '2024-12-26', '2024-12-27',
               '2024-12-28', '2024-12-29'],
              dtype='datetime64[ns]', freq='D')

In [178]:
#9. Write a Pandas program to create a whole month of dates in daily frequencies.
# Also find the maximum, minimum timestamp and indexs.
d1=pd.date_range(datetime.now().date(),periods=90)
d1=pd.Series(d1)
print(d1.max())
print(d1.min())
print(d1.idxmax())
print(d1.idxmin())

2025-01-18 00:00:00
2024-10-21 00:00:00
89
0

In [179]:
#11
# Write a Pandas program to create a sequence of durations increasing by an
# hour

d1=pd.date_range(datetime.now().date(),periods=100,freq="H")
d1

DatetimeIndex(['2024-10-21 00:00:00', '2024-10-21 01:00:00',
               '2024-10-21 02:00:00', '2024-10-21 03:00:00',
               '2024-10-21 04:00:00', '2024-10-21 05:00:00',
               '2024-10-21 06:00:00', '2024-10-21 07:00:00',
               '2024-10-21 08:00:00', '2024-10-21 09:00:00',
               '2024-10-21 10:00:00', '2024-10-21 11:00:00',
               '2024-10-21 12:00:00', '2024-10-21 13:00:00',
               '2024-10-21 14:00:00', '2024-10-21 15:00:00',
               '2024-10-21 16:00:00', '2024-10-21 17:00:00',
               '2024-10-21 18:00:00', '2024-10-21 19:00:00',
               '2024-10-21 20:00:00', '2024-10-21 21:00:00',
               '2024-10-21 22:00:00', '2024-10-21 23:00:00',
               '2024-10-22 00:00:00', '2024-10-22 01:00:00',
               '2024-10-22 02:00:00', '2024-10-22 03:00:00',
               '2024-10-22 04:00:00', '2024-10-22 05:00:00',
               '2024-10-22 06:00:00', '2024-10-22 07:00:00',
               '2024-10-22 08:00:00', '2024-10-22 09:00:00',
               '2024-10-22 10:00:00', '2024-10-22 11:00:00',
               '2024-10-22 12:00:00', '2024-10-22 13:00:00',
               '2024-10-22 14:00:00', '2024-10-22 15:00:00',
               '2024-10-22 16:00:00', '2024-10-22 17:00:00',
               '2024-10-22 18:00:00', '2024-10-22 19:00:00',
               '2024-10-22 20:00:00', '2024-10-22 21:00:00',
               '2024-10-22 22:00:00', '2024-10-22 23:00:00',
               '2024-10-23 00:00:00', '2024-10-23 01:00:00',
               '2024-10-23 02:00:00', '2024-10-23 03:00:00',
               '2024-10-23 04:00:00', '2024-10-23 05:00:00',
               '2024-10-23 06:00:00', '2024-10-23 07:00:00',
               '2024-10-23 08:00:00', '2024-10-23 09:00:00',
               '2024-10-23 10:00:00', '2024-10-23 11:00:00',
               '2024-10-23 12:00:00', '2024-10-23 13:00:00',
               '2024-10-23 14:00:00', '2024-10-23 15:00:00',
               '2024-10-23 16:00:00', '2024-10-23 17:00:00',
               '2024-10-23 18:00:00', '2024-10-23 19:00:00',
               '2024-10-23 20:00:00', '2024-10-23 21:00:00',
               '2024-10-23 22:00:00', '2024-10-23 23:00:00',
               '2024-10-24 00:00:00', '2024-10-24 01:00:00',
               '2024-10-24 02:00:00', '2024-10-24 03:00:00',
               '2024-10-24 04:00:00', '2024-10-24 05:00:00',
               '2024-10-24 06:00:00', '2024-10-24 07:00:00',
               '2024-10-24 08:00:00', '2024-10-24 09:00:00',
               '2024-10-24 10:00:00', '2024-10-24 11:00:00',
               '2024-10-24 12:00:00', '2024-10-24 13:00:00',
               '2024-10-24 14:00:00', '2024-10-24 15:00:00',
               '2024-10-24 16:00:00', '2024-10-24 17:00:00',
               '2024-10-24 18:00:00', '2024-10-24 19:00:00',
               '2024-10-24 20:00:00', '2024-10-24 21:00:00',
               '2024-10-24 22:00:00', '2024-10-24 23:00:00',
               '2024-10-25 00:00:00', '2024-10-25 01:00:00',
               '2024-10-25 02:00:00', '2024-10-25 03:00:00'],
              dtype='datetime64[ns]', freq='H')

In [182]:
#12. Write a Pandas program to convert year and day of year into a single datetime column of a dataframe.

a={
    "year":[2024,2025,2041],
    "Month":["October","November","December"],
    "Day":[12,14,15]
}

df=pd.DataFrame(a)
df

   year     Month  Day
0  2024   October   12
1  2025  November   14
2  2041  December   15

In [186]:
df["Date"]=df["year"].astype("str")+"-"+df["Month"]+"-"+df["Day"].astype("str")

In [187]:
df["Date"]=pd.to_datetime(df["Date"])

In [190]:
df

   year     Month  Day       Date
0  2024   October   12 2024-10-12
1  2025  November   14 2025-11-14
2  2041  December   15 2041-12-15

In [ ]:
#Write a Pandas program to create a series of Timestamps from a DataFrame
#of integer or string columns. Also create a series of Timestamps using specified