In [1]:
import numpy as np
import pandas as pd

#### 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [6]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
series = pd.Series(arr, index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
series

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int32

#### 2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [8]:
li = list(series)
print(type(li))
li

<class 'list'>

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

#### Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [15]:
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 10])

# Try LABEL

print("Addition:")
print(s1 + s2)

print("\nSubtraction:")
print(s1 - s2)

print("\nMultiplication:")
print(s1 * s2)

print("\nDivision:")
print(s1 / s2)

Addition:
0     3
1     7
2    11
3    15
4    20
dtype: int64

Subtraction:
0    1
1    1
2    1
3    1
4    0
dtype: int64

Multiplication:
0      2
1     12
2     30
3     56
4    100
dtype: int64

Division:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.000000
dtype: float64

#### Write a Pandas program to compare the elements of the two Pandas Series.
#### Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [20]:
s1 = pd.Series([2, 4, 6, 8, 10])
s2 = pd.Series([1, 3, 5, 7, 10])

print("s1[i] is greater than s2[i]")
s1>s2

s1[i] is greater than s2[i]

0     True
1     True
2     True
3     True
4    False
dtype: bool

#### 5. Write a Pandas program to convert a dictionary to a Pandas series.

`Sample Series:
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a 100
b 200
c 300
d 400
e 800
dtype: int64`

In [21]:
d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
series = pd.Series(d)
series

a    100
b    200
c    300
d    400
e    800
dtype: int64

#### 6. Write a Pandas program to convert a NumPy array to a Pandas series.

`Sample Series:
NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0 10
1 20
2 30
3 40
4 50
dtype: int64`

In [25]:
arr = np.array([10, 20, 30, 40, 50])
print("NumPy array: ", arr)
series = pd.Series(arr)
print("\nConverted Pandas series:")
series

NumPy array:  [10 20 30 40 50]

Converted Pandas series:

0    10
1    20
2    30
3    40
4    50
dtype: int32

#### 7. Write a Pandas program to change the data type of given a column or a Series.

`Sample Series:
Original Data Series:

0 100
1 200
2 python
3 300.12
4 400
dtype: object

Change the said data type to numeric:

0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64`

In [48]:
s1 = pd.Series([100, 200, 'python', 300.12, 400])
s2 = pd.to_numeric(s1, errors='coerce')
s2

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

#### 8. Write a Pandas program to convert the first column of a DataFrame as a Series.

`
Sample Output:
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11
1st column as a Series:
0 1
1 2
2 3
3 4
4 7
5 11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>
`

In [41]:
d = {'col1' : [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]}
df = pd.DataFrame(d)
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [42]:
series = pd.Series(df.col1)
series

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

#### 9. Write a Pandas program to convert a given Series to an array.

`Sample Output:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']
<class 'numpy.ndarray'>`

In [57]:
s = pd.Series([100, 200, 'python', 300.12, 400])
arr = np.array(s.astype(str))
print(arr)
print(type(arr))

['100' '200' 'python' '300.12' '400']
<class 'numpy.ndarray'>

#### 10. Write a Pandas program to convert Series of lists to one Series.

`Sample Output:
Original Series of list
0 [Red, Green, White]
1 [Red, Black]
2 [Yellow]
dtype: object
One Series
0 Red
1 Green
2 White
3 Red
4 Black
5 Yellow
dtype: object`

In [58]:
s1 = pd.Series([['R', 'G', 'W'], ['R', 'B'], ['Y']])
s1

0    [R, G, W]
1       [R, B]
2          [Y]
dtype: object

In [65]:
# Usind append method, but more time complexity
li = []
for i in s1:
    for j in i:
        li.append(j)
s2 = pd.Series(li)
s2

0    R
1    G
2    W
3    R
4    B
5    Y
dtype: object

In [66]:
# Using extend method, less time complexity
li = []
for i in s1:
    li += i # extending
s2 = pd.Series(li)
s2

0    R
1    G
2    W
3    R
4    B
5    Y
dtype: object

#### 11. Write a Pandas program to sort a given Series.

`Sample Output:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
0 100
1 200
3 300.12
4 400
2 python
dtype: object`

In [68]:
series=pd.Series(["100",'200','python','300.12','400'])
print(series.sort_values())

0       100
1       200
3    300.12
4       400
2    python
dtype: object

#### 12. Write a Pandas program to add some data to an existing Series.

`Sample Output:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Data Series after adding some data:
0 100
1 200
2 python
3 300.12
4 400
5 500
6 php
dtype: object`

In [79]:
series=pd.Series(["100",'200','python','300.12','400'])
series[len(series)]="500"
series[len(series)]="600"

series

IndexError: iloc cannot enlarge its target object

#### 13. Write a Pandas program to create a subset of a given series based on value and condition.

`Sample Output:
Original Data Series:
0 0
1 1
2 2
....
9 9
10 10
dtype: int64
Subset of the above Data Series:
0 0
1 1
2 2
3 3
4 4
5 5
dtype: int64`

In [80]:
series=pd.Series([1,2,3,4,5,6,7,8,9,10])
series
subseries=series[0:5]
subseries

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### 14. Write a Pandas program to change the order of index of a given series.

`Sample Output:
Original Data Series:
A 1
B 2
C 3
D 4
E 5
dtype: int64
Data Series after changing the order of index:
B 2
A 1
C 3
D 4
E 5
dtype: int64`

Mean : 5.5
Standard Deviation : 3.0276503540974917

#### 15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

`Sample Output:
Original Data Series:
0 1
1 2
2 3
....
7 8
8 9
9 5
10 3
dtype: int64`

`Mean of the said Data Series:
4.818181818181818`


`Standard deviation of the said Data Series:
2.522624895547565`

In [83]:
series=pd.Series([1,2,3,4,5,6,7,8,9,10])
print("Mean :",series.mean())
print("Standard Deviation :",series.std())

Mean : 5.5
Standard Deviation : 3.0276503540974917

#### 16. Write a Pandas program to get the items of a given series not present in another given series.

`Sample Output:`

`Original Series:
sr1:
0 1
1 2
2 3
3 4
4 5
dtype: int64`

`sr2:
0 2
1 4
2 6
3 8
4 10
dtype: int64`

`Items of sr1 not present in sr2:
0 1
2 3
4 5
dtype: int64`

In [115]:
series=pd.Series([1,2,3,4,5,6,7,8,9,10])
series2=pd.Series([10,2,30,4,50,6,70,8,90,10])
print(pd.Series(list(set(series).difference(set(series2)))))

0    1
1    3
2    5
3    7
4    9
dtype: int64

#### 17. Write a Pandas program to get the items which are not common of two given series.


`
Sample Output:`

`Original Series:
sr1:
0 1
1 2
2 3
3 4
4 5
dtype: int64`

`sr2:
0 2
1 4
2 6
3 8
4 10
dtype: int64`

`Items of a given series not present in another given series:
0 1
2 3
4 5
5 6
6 8
7 10
dtype: int64`

In [96]:
series=pd.Series([1,2,3,4,5,6,7,8,9,10])
series2=pd.Series([10,2,30,4,50,6,70,8,90,10])
print(pd.Series(list(set(series).symmetric_difference(set(series2)))))

0     1
1     3
2     5
3    70
4     7
5     9
6    50
7    90
8    30
dtype: int64

#### 18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

`Sample Output:`

`Original Series:
0 3.000938
1 11.370722
2 14.612143
....
17 14.118931
18 8.247458
19 5.526727
dtype: float64`

`Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811 8.09463867 10.23353705 12.21537733 14.61214321]`

In [210]:
import pandas as pd

# Create a sample Series
data = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])

# Compute statistics
minimum = data.min()
percentile_25 = data.quantile(0.25)
median = data.median()
percentile_75 = data.quantile(0.75)
maximum = data.max()

# Print the results
print("Minimum:", minimum)
print("25th Percentile:", percentile_25)
print("Median:", median)
print("75th Percentile:", percentile_75)
print("Maximum:", maximum)

Minimum: 10
25th Percentile: 32.5
Median: 55.0
75th Percentile: 77.5
Maximum: 100

#### 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

`Sample Output:`
`Original Series:
0 1
1 7
2 1
3 6
...

37 0
38 4
39 8
dtype: object`

`Frequency of each unique value of the said series.
0 9
2 7
9 6
....
3 2
4 1
5 1
dtype: int64`

In [116]:
series=pd.Series([1,2,3,4,5,6,1,1,9,10])

print(series.value_counts())

1     3
10    1
9     1
6     1
5     1
4     1
3     1
2     1
dtype: int64

#### 20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

`Sample Output:`

`Original Series:
0 3
1 1
2 1
3 3
...
12 2
13 3
14 3
dtype: int64`

`Top 2 Freq: 2 6
3 5
1 4
dtype: int64`

`0 Other
1 Other
2 Other
3 Other
...
11 2
12 2
13 Other
14 Other
dtype: object`

In [ ]:
series = pd.Series([1,2,3,4,5,6,10,10,9,10])
series2 = series.copy()
s = series.value_counts().reset_index()
temp = s['index'][0]
i = 0
for i in range(len(series2)):
    if series2[i] != temp:
        series2[i] = "Other"
series2

#### 21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

`Sample Output:`
`Original Series:
0 1
1 9
2 8
3 6
4 9
5 7
6 1
7 1
8 1
dtype: int64`

`Positions of numbers that are multiples of 5:[]`

In [120]:
s = pd.Series([1, 9, 8, 6, 5, 9, 7, 10, 1, 1])
li = []
for i in range(len(s)):
    if s[i]%5==0:
        li.append(i)

print("Positions of numbers that are multiples of 5:", li)

Positions of numbers that are multiples of 5: [4, 7]

#### 22. Write a Pandas program to extract items at given positions of a given series.

`Sample Output:`

`Original Series:
0 2
1 3
2 9
3 0
4 2
5 3
...
19 0
20 2
21 3
dtype: object`

`Extract items at given positions of the said series:
0 2
2 9
6 8
11 0
21 3
dtype: object`

In [128]:
s = pd.Series([2, 3, 9, 0, 2, 3, 4, 34, 12])
positions = [0, 2, 4, 7]

print("Extract items at given positions of the said series:")
for i in positions:
    print(i, s[i])

Extract items at given positions of the said series:
0 2
2 9
4 2
7 34

#### 23. Write a Pandas program to get the positions of items of a given series in another given series.

`Sample Output:`

`Original Series:
0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10
dtype: int64`

`0 1
1 3
2 5
3 7
4 10
dtype: int64`

`Positions of items of series2 in series1:
[0, 2, 4, 6, 9]`


###### Search about s.index.get_loc(element)

In [143]:
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10])
positions =pd.Series([1, 3, 5, 7, 10])
li=[]
for i in positions:
    if i in s:
        li.append(s[s == i].index.to_list())
print(li)

[[0], [2], [4], [6], [9, 10]]

#### 24. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

`Sample Output:`

`Original Series:
0 php
1 python
2 java
3 c#
dtype: object`

`First and last character of each word to upper case:
0 PhP
1 PythoN
2 JavA
3 C#
dtype: object`

In [150]:
s = pd.Series(['cat','dog','bird'])
for i in range(len(s)):
    c=s[i][0].upper()+s[i][1:len(s[i])-1]+s[i][len(s[i])-1].upper()
    s[i]=c
print(s)




# a="ashutosh"
# b=a[0].upper()+a[1:len(a)-1]+a[len(a)-1].upper()
# b

0     CaT
1     DoG
2    BirD
dtype: object

#### 25. Write a Pandas program to calculate the number of characters in each word in a given series.

`Sample Output:`

`Original Series:
0 Php
1 Python
2 Java
3 C#
dtype: object`

`Number of characters in each word in the said series:
0 3
1 6
2 4
3 2
dtype: int64`

In [151]:
s = pd.Series(['cat','dog','bird'])
for i in range(len(s)):
    s[i]=len(s[i])
s

0    3
1    3
2    4
dtype: object

#### 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

`Sample Output:`

`Original Series:
0 1
1 3
2 5
3 8
4 10
5 11
6 15
dtype: int64`

`Difference of differences between consecutive numbers of the said series:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]`

In [162]:
li=[np.nan]
li2=[]
s = pd.Series([1, 21, 3, 4, 23, 6, 7, 8, 93, 104, 10])
for i in range(1,len(s)):
    li.append(abs(s[i]-s[i-1]))
for i in range(0,len(li)):
    li2.append(abs(li[i]-li[i-1]))
print(li)
print(li2)


#rollingwindow se try karo

[nan, 20, 18, 1, 19, 17, 1, 1, 85, 11, 94]
[nan, nan, 2, 17, 18, 2, 16, 0, 84, 74, 83]

#### 27. Write a Pandas program to convert a series of date strings to a timeseries.

`Sample Output:`

`Original Series:
0 01 Jan 2015
1 10-02-2016
2 20180307
3 2014/05/06
4 2016-04-12
5 2019-04-06T11:20
dtype: object`

`Series of date strings to a timeseries:
0 2015-01-01 00:00:00
1 2016-10-02 00:00:00
2 2018-03-07 00:00:00
3 2014-05-06 00:00:00
4 2016-04-12 00:00:00
5 2019-04-06 11:20:00
dtype: datetime64[ns]`

In [170]:
import pandas as pd

# Create a Series with date strings
s = pd.Series(["01 Jan 2015", "10-02-2016", "20180307", "2014/05/06", "2019-04-06T11:20"])

# Convert to datetime
p = pd.to_datetime(s)
print(p)

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2019-04-06 11:20:00
dtype: datetime64[ns]

#### 28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.

`Sample Output:`

`Original Series:
0 01 Jan 2015
1 10-02-2016
2 20180307
3 2014/05/06
4 2016-04-12
5 2019-04-06T11:20
dtype: object`

`Day of month:
[1, 2, 7, 6, 12, 6]`

`Day of year:
[1, 276, 66, 126, 103, 96]`

`Week number:
[1, 39, 10, 19, 15, 14]`

`Day of week:
['Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Tuesday', 'Saturday']`

In [184]:
import pandas as pd

# Create a Series with date strings
date_strings = pd.Series([
    "01 Jan 2015",
    "10-02-2016",
    "20180307",
    "2014/05/06",
    "2019-04-06T11:20"
])

# Convert to datetime
dates = pd.to_datetime(date_strings)

# Extract required information
day_of_month = dates.dt.day
day_of_year = dates.dt.dayofyear
week_number = dates.dt.isocalendar().week
day_of_week = dates.dt.day_name()

# Create a DataFrame to display the results
results = pd.DataFrame({
    'Date': dates,
    'Day of Month': day_of_month,
    'Day of Year': day_of_year,
    'Week Number': week_number,
    'Day of Week': day_of_week
})

print(results)


#more work on datetime is needed

                 Date  Day of Month  Day of Year  Week Number Day of Week
0 2015-01-01 00:00:00             1            1            1    Thursday
1 2016-10-02 00:00:00             2          276           39      Sunday
2 2018-03-07 00:00:00             7           66           10   Wednesday
3 2014-05-06 00:00:00             6          126           19     Tuesday
4 2019-04-06 11:20:00             6           96           14    Saturday

#### 29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.

`Sample Output:`

`Original Series:
0 Jan 2015
1 Feb 2016
2 Mar 2017
3 Apr 2018
4 May 2019
dtype: object`

`New dates:
0 2015-01-11
1 2016-02-11
2 2017-03-11
3 2018-04-11
4 2019-05-11
dtype: datetime64[ns]`

In [209]:
import pandas as pd

# Sample year-month strings
year_month = ['2023-01', '2023-02', '2023-03', '2023-04']

# Specify the day to be added
day = 15

# Convert year-month strings to dates by adding the specified day
dates = pd.to_datetime([f"{ym}-{day}" for ym in year_month])

# Print the resulting dates
print("Converted Dates:")
print(dates)

Converted Dates:
DatetimeIndex(['2023-01-15', '2023-02-15', '2023-03-15', '2023-04-15'], dtype='datetime64[ns]', freq=None)

#### 30. Write a Pandas program to filter words from a given series that contain atleast two vowels.
`Sample Output:
Original Series:
0 Red
1 Green
2 Orange
3 Pink
4 Yellow
5 White
dtype: object`

`Filtered words:
1 Green
2 Orange
4 Yellow
5 White
dtype: object`

In [188]:
lv = 'aeiou'
uv = 'AEIOU'
series=pd.Series(["Red","Green","Orange","Pink","Yellow","White"])
li=[]

for i in range(len(series)):
    counter=0
    for j in  range(len(series[i])):
        if series[i][j] in lv or series[i][j] in uv:
            counter=counter+1
    if counter>=2:
        li.append(series[i])
        
        
print(pd.Series(li))

0     Green
1    Orange
2    Yellow
3     White
dtype: object

#### 31. Write a Pandas program to compute the Euclidean distance between two given series.
##### Euclidean distance


##### From Wikipedia,
##### In mathematics, the Euclidean distance or Euclidean metric is the "ordinary" straight-line distance between two points in Euclidean space. With this distance, Euclidean space becomes a metric space. The associated norm is called the Euclidean norm.

`Sample Output:
Original series:
0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10
dtype: int64`

`0 11
1 8
2 7
3 5
4 6
5 5
6 3
7 4
8 7
9 1
dtype: int64`

`Euclidean distance between two said series:
16.492422502470642`

In [191]:
series1 = pd.Series(range(1, 11))  # Series with integers from 1 to 10
series2 = pd.Series(range(11, 21))  # Series with integers from 11 to 20
sumi=0
for i in range(len(series1)):
    sumi=sumi+(series1[i]-series2[i])**2
print(np.sqrt(sumi))

31.622776601683793

#### 32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.

`Sample Output:`

`Original series:
0 1
1 8
2 7
3 5
4 6
5 5
6 3
7 4
8 7
9 1
dtype: int64`

`Positions of the values surrounded by smaller values on both sides:
[1 4 8]`

In [194]:
a=pd.Series([1, 276, 66, 126, 103, 96])
li=[]
for i in range(1,len(a)-1):
    if a[i]>a[i-1] and a[i]>a[i+1]:
        li.append(i)
print(li)

[1, 3]

#### 33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character.

`Sample Output:`

`Original series:
abc def abcdef icd
c 3
d 3
  3
b 2
e 2
a 2
f 2
i 1
dtype: int64`

`abcidefiabcdefiicd`

In [204]:
text="abc def abcdef icd"
dicto=dict.fromkeys(text,0)
for i in text:
    dicto[i]+=1
    
min_key = min(dicto, key=dicto.get)

i

#### 34. Write a Pandas program to compute the autocorrelations of a given numeric series.

`From Wikipedia:
Autocorrelation, also known as serial correlation, is the correlation of a signal with a delayed copy of itself as a function of delay. Informally, it is the similarity between observations as a function of the time lag between them.`


`Sample Output:`

`Original series:
0 13.207262
1 4.098685
2 -1.435534
3 13.626760
...
13 -2.346193
14 17.873884
dtype: float64`

`Autocorrelations of the said series:
[-0.38, 0.1, -0.43, 0.03, 0.35, -0.2, 0.04, -0.59, 0.34, 0.11]`

In [208]:
import pandas as pd

# Create a sample numeric Series
data = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# Compute autocorrelations for lags 1 to 5
autocorrelations = {lag: data.autocorr(lag) for lag in range(1, 6)}

# Print the autocorrelations
print("Autocorrelations:")
for lag, value in autocorrelations.items():
    print(f"Lag {lag}: {value}")

Autocorrelations:
Lag 1: 1.0
Lag 2: 1.0
Lag 3: 1.0
Lag 4: 1.0
Lag 5: 0.9999999999999999

#### 35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.

`Sample Output:`

`All Sundays of 2019:
0 2020-01-05
1 2020-01-12
2 2020-01-19
3 2020-01-26
4 2020-02-02
5 2020-02-09
.....
48 2020-12-06
49 2020-12-13
50 2020-12-20
51 2020-12-27
dtype: datetime64[ns]`

#### 36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.



`Sample Output:`

`_ index 0
0 A 0
1 B 1
2 C 2
3 D 3
4 E 4`

In [207]:
import pandas as pd

# Create a sample Series
series = pd.Series([10, 20, 30, 40, 50], name='Values')

# Convert Series to DataFrame and reset index
df = series.reset_index()

# Rename the columns
df.columns = ['Index', 'Values']

# Print the resulting DataFrame
print(df)

   Index  Values
0      0      10
1      1      20
2      2      30
3      3      40
4      4      50

#### 37. Write a Pandas program to stack two given series vertically and horizontally.

`Sample Output:`

`Original Series:
0 0
1 1
2 2
....
7 7
8 8
9 9
dtype: int64`

`0 p
1 q
2 r
....
7 w
8 x
9 y
dtype: object`

`Stack two given series vertically and horizontally:
0 1
0 0 p
1 1 q
2 2 r
.....
8 8 x
9 9 y`

In [206]:
import pandas as pd

# Create two sample Series
series1 = pd.Series([1, 2, 3], name='Series 1')
series2 = pd.Series([4, 5, 6], name='Series 2')

# Stacking vertically
vertical_stack = pd.concat([series1, series2], axis=0)

# Stacking horizontally
horizontal_stack = pd.concat([series1, series2], axis=1)

# Print the results
print("Vertical Stack:")
print(vertical_stack)

print("\nHorizontal Stack:")
print(horizontal_stack)

Vertical Stack:
0    1
1    2
2    3
0    4
1    5
2    6
dtype: int64

Horizontal Stack:
   Series 1  Series 2
0         1         4
1         2         5
2         3         6

#### 38. Write a Pandas program to check the equality of two given series.

`Sample Output:`

`Original Series:
0 1
1 8
2 7
...
7 4
8 7
9 1
dtype: int64`

`0 1
1 8
2 7
3 5
.....
8 7
9 1
dtype: int64`

`Check 2 series are equal or not?
0 True
1 True
2 True
....
7 True
8 True
9 True
dtype: bool`

In [196]:

a=pd.Series([1, 276, 66, 126, 103, 96])
b=pd.Series([1, 275, 66, 125, 103, 96])
a==b

0     True
1    False
2     True
3    False
4     True
5     True
dtype: bool

#### 39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.

`Sample Output:`

`Original Series:
0 1
1 3
2 7
.....
7 1
8 9
9 0
dtype: int64`

`Index of the first occurrence of the smallest and largest value of the said series:
9
4`

In [200]:
a=pd.Series([1, 276, 66, 126, 103, 96,276,1])
print(a.idxmax())
print(a.idxmin())

1
0

#### 40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.

`Sample Output:`

`Original DataFrame:
W X Y Z
0 68.0 78.0 84 86
1 75.0 75.0 94 97
2 86.0 NaN 89 96
3 80.0 80.0 86 72
4 NaN 86.0 86 83`

`Original Series:
0 68.0
1 75.0
2 86.0
3 80.0
4 NaN
dtype: float64`

`Check for inequality of the said series & dataframe:
W X Y Z
0 False True True True
1 False False True True
2 False True True True
3 False False True True
4 True True True True`

In [205]:
import pandas as pd

# Create a sample DataFrame
data = {
    'A': [10, 20, 30, 40, 50],
    'B': [5, 15, 25, 35, 45]
}
df = pd.DataFrame(data, index=['a', 'b', 'c', 'd', 'e'])

# Create a sample Series with the same index as the DataFrame
series = pd.Series([25, 10, 35, 45, 20], index=['a', 'b', 'c', 'd', 'e'])

# Check inequality over the index axis
inequality_check = df > series

print("DataFrame:")
print(df)
print("\nSeries:")
print(series)
print("\nInequality Check (DataFrame > Series):")
print(inequality_check)

DataFrame:
    A   B
a  10   5
b  20  15
c  30  25
d  40  35
e  50  45

Series:
a    25
b    10
c    35
d    45
e    20
dtype: int64

Inequality Check (DataFrame > Series):
       A      B      a      b      c      d      e
a  False  False  False  False  False  False  False
b  False  False  False  False  False  False  False
c  False  False  False  False  False  False  False
d  False  False  False  False  False  False  False
e  False  False  False  False  False  False  False