In [17]:
import pandas as pd
from scipy.stats import zscore
import scipy.stats as stats
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("diabetes.csv")

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.shape

(768, 9)

In [5]:
glucose_mean=df["Glucose"].mean()
glucose_mean

120.89453125

In [6]:
glucose_std=df["Glucose"].std()
glucose_std

31.97261819513622

In [8]:
# calculate z score for glucose level of 168
glucose_value=168
z_score_168_manual=(glucose_value-glucose_mean)/glucose_std
z_score_168_manual

1.4733065794769926

In [11]:
#calculate z score for each column
df["Glucose_zscore"]=zscore(df["Glucose"])
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Glucose_zscore
0,6,148,72,35,0,33.6,0.627,50,1,0.848324
1,1,85,66,29,0,26.6,0.351,31,0,-1.123396
2,8,183,64,0,0,23.3,0.672,32,1,1.943724
3,1,89,66,23,94,28.1,0.167,21,0,-0.998208
4,0,137,40,35,168,43.1,2.288,33,1,0.504055
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,-0.622642
764,2,122,70,27,0,36.8,0.340,27,0,0.034598
765,5,121,72,23,112,26.2,0.245,30,0,0.003301
766,1,126,60,0,0,30.1,0.349,47,1,0.159787
767,1,93,70,31,0,30.4,0.315,23,0,-0.873019

In [14]:
#Find the row index where glucose =168
row_index=df[df["Glucose"]==glucose_value].index
row_index

Int64Index([11, 404, 612, 702], dtype='int64')

In [15]:
#Extracting first row from Glucose z_score df where glucose=168
df["Glucose_zscore"].iloc[row_index[0]]

1.4742667011686503

In [20]:
#calculate the percentile for this zscore
percentile_168=stats.norm.cdf(z_score_168_manual)*100
print(percentile_168)

92.96658063066623

In [21]:
#Find the z_score at the 30th percentile
z_score_30=stats.norm.ppf(0.30)
z_score_30

-0.5244005127080409

In [22]:
#calculate the corresponding glucose value for the  z_score of the 30th percentile
glucose_value_30=glucose_mean+z_score_30*glucose_std
glucose_value_30

104.12807387585212

In [23]:
#given z-score of 2.8 calculate the corressponding glucose_level
z_score_given=2.8
glucose_value_given=glucose_mean+z_score_given*glucose_std
glucose_value_given

210.4178621963814

In [25]:
#calculate the percentile for the z-score of 2.8
percentile_given=stats.norm.cdf(z_score_given)*100
percentile_given

99.7444869669572