In [6]:
from pandas import read_csv,crosstab
from scipy.stats import chi2_contingency

df=read_csv("airline_passenger_satisfaction.csv")
male_df=df[df["Gender"]=="Male"]

In [7]:
category1="Class"
category2="On-board Service"

crosstab=crosstab(male_df[category1],male_df[category2])

In [8]:
crosstab

On-board Service  0     1     2     3      4     5
Class
Business          2  2053  3379  5826  10743  8894
Economy           0  4420  4430  7403   7535  4851
Economy Plus      0   791   792  1118   1076   668

In [9]:
#perform chi-square test
chi2,pval,degrees_of_freedom,expected_counts=chi2_contingency(crosstab)

In [10]:
print(f"\nCategory 1:{category1},Category 2:{category2}(Male Passengers)")
print(crosstab)
print(f"Chi-square :{chi2:.2f},p-value:{pval:.4f},Degrees of Freedom:{degrees_of_freedom}")

#interpretation
if pval<0.05:
    print("Reject Null Hypothesis: Theres is a signi ficant association between class and on-board service rating (p<0.05).")
else:
    print("Fail to reject null hypothesis: Class and on board service rating might be independent")

Category 1:Class,Category 2:On-board Service(Male Passengers)
On-board Service  0     1     2     3      4     5
Class
Business          2  2053  3379  5826  10743  8894
Economy           0  4420  4430  7403   7535  4851
Economy Plus      0   791   792  1118   1076   668
Chi-square :3277.66,p-value:0.0000,Degrees of Freedom:10
Reject Null Hypothesis: Theres is a signi ficant association between class and on-board service rating (p<0.05).