In [1]:
import pandas as pd
from scipy import stats

In [2]:
data = pd.read_csv("Mall_customers.csv")
age_data = data["Age"]
data

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [4]:
# Separate data by genre
male_spending = data[data["Genre"] == 'Male']['Spending Score (1-100)']
female_spending = data[data["Genre"] == 'Female']['Spending Score (1-100)']

In [13]:
male_spending = male_spending.sample(30)
print("Shape: ", male_spending.shape)
# male_spending

Shape:  (30,)

In [14]:
female_spending = female_spending.sample(30)

In [15]:
# Perform two-sample t-Test
t_statistic, p_value = stats.ttest_ind(male_spending, female_spending)

In [16]:
n_male = len(male_spending)
n_female = len(female_spending)
degrees_of_freedom = n_male + n_female - 2

In [17]:
alpha = 0.025

In [18]:
# Find the critical value
critical_value = stats.t.ppf(1-alpha, degrees_of_freedom)

In [19]:
# Print the result
print("T-statistic:", t_statistic)
print("P-value:", p_value)
print("Critical Value:", critical_value)

T-statistic: -1.1931695025974816
P-value: 0.23766102108719642
Critical Value: 2.0017174830120923

In [20]:
if p_value < alpha:
    print("There is a significant difference in spending score between Male and Female groups.")
else:
    print("There is no significant difference in spending score between Male and Female groups.")

There is no significant difference in spending score between Male and Female groups.

In [21]:
if abs(t_statistic) > critical_value:
    print("There is a significant difference in spending score between Male and Female groups.")
else:
    print("There is no significant difference in spending score between Male and Female groups.")

There is no significant difference in spending score between Male and Female groups.